/* Navbar.css */

.navbar2 {
  display: flex;
 
  align-items: center;
  justify-content: space-between;
  background-color:#1A1A1A;
  border-top: 1px solid #F93891;
  color:white;
  padding:0PX;
  width: 100%;
}

.menu-button {
  cursor: pointer;
}

.route-links {
  display: flex;
}

.route-links a {
  text-decoration: none;
  color:white;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.route-links a:hover {
  background-color:#F93891;
  color:black;
}
