.AppSell {
    display: flex;
    height: 2000px;
   
    background-color: #333; 
  }


  .sidebarSell {
    width: 250px;
    height:2000px;
    background-color:#282828;
    color:white;
    overflow-y: auto;
   border-radius: 5px;
   border-color: white;

   
  }







  .main-contentSell {
    flex: 1;
    padding: 20px;
    height: 2000px;
    color: white;
   
  }
  
  
 
  .transparent-formSell {
    background-color:black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 30px; 
    border-radius: 10px;
    width: 1000px;
   
    color: white;
  }
  
  .transparent-formSell label {
    
    margin:10px auto  10px  10px;
    padding-top: 10px;
    color: white;
  }
  
  .btn {
    margin-top: 50px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px; 
    background-color: #007bff; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .transparent-formSell button:hover {
    background-color:blue;
  }
  .blue-inputSell[type="file"]::-webkit-file-upload-button {
    background-color:#f70776; 
    color:black; 
    padding: 8px 12px; 
    border-radius: 4px; 
    border: none;
    cursor: pointer; 
  }

  
  .imgproSell{
    background-color: blue;
  }



  .nameSell{
   
    width: 950px;
    padding-right: 50px;
    
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #ccc; 
    box-sizing: border-box; 
    outline: none; 
  }
  .discSell{
    
    width: 950px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    outline: none; 
  }
  .blue-inputSell {
    width: 950px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  }
  .priceo{
   
    width: 950px;
    padding-right: 50px;
    
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #ccc; 
    box-sizing: border-box; 
    outline: none; 
  }
  .quantity_sell{
    height: 40px;
    width: 600px;
    width: 950px;
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #ccc; 
    box-sizing: border-box; 
    outline: none; 
  }
  .select-sell{
    height: 40px;
    width: 100px;
    margin:10px auto  10px  10px;
    display: block;
    width: 950px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    outline: none; 
    width: 200px;
    padding-right: 50px;
    width: 450px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #ccc; 
    box-sizing: border-box; 
    outline: none; 
  }
  .select-selltype{
    
    height: 40px;
    width: 100px;
    margin:10px auto  10px  10px;
    display: block;
    width: 950px;
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    outline: none; 
    width: 200px;
    padding-right: 50px;
    width: 450px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #ccc; 
    box-sizing: border-box; 
    outline: none; 
  }
 

  .variety-sell{
    
    width: 950px;
    padding-right: 50px;
   
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #ccc; 
    box-sizing: border-box; 
    outline: none; 
  }















  
  .user-containerSell {
    padding: 20px;
    
  }
  
  .circle-imagesell {
    width: 80px;
  height: 80px; 
  border-radius: 50%; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:transparent;
  
  }
  
  .username {
    margin-top: 20px;
    margin-left: 10px;
    
    display: block;
  }
  .user-image{
    width: 50px;
    height: 50px;
    object-fit: cover;


  }
 











 













  .sell-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    background-color: transparent;
  }
  .product-card-sell {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
  }

  .product-img-sell {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; 
  }


  .product-img-sell img {
    width: 80px;
    height: 80px;
    height: auto;
    border-radius: 8px;
  }
  .product-details-sell {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .product-details-sell h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;}
  
  
  .product-details-sell p {
    font-size: 16px;
    font: bold;
    margin-bottom: 10px;
    color:yellow;
  }
  .product-details-sell span {
    font-size: 16px;
    margin-bottom: 10px;
    color:white;
  }





































































 